A:link {
	COLOR: #000000; FONT-FAMILY: ו; TEXT-DECORATION: none
	}
A:visited {
	COLOR: #000000; FONT-FAMILY: ו; TEXT-DECORATION: none
}
A:active {
	COLOR: #0033cc; FONT-FAMILY: ו; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0033cc; TEXT-DECORATION: underline
	}
.div1{
   margin:3em 3em 4em 3em 
}
